@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap|100,200,300,400,500,600,700');

/*-----------------------------------------------------------------------*/
* {

    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links li {
    list-style: none;

}

.navbar-links li a {
    text-decoration: none;
    color: honeydew;
    padding: 1rem;
    display: block;

}

.navbar-links li:hover {
    background-color: brown;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: none;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media(max-width:400px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none width: 100%
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100% flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rerm 1rem;
    }

    .navbar-links .active {
        display: flex;
    }
}





ul {
    margin: 0px;
    padding: 0px;
    justify-content: right;
    float: right;
}


ul {

    padding: 20px;

}

li {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
}

ul li {
    padding: 5px;
    margin-left: 15px;
    padding-top: 5px;

}

ul {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 25px;
    justify-content: right;
    float: right;
}

ul li {
    float: left;
    width: 20px;
    height: 10px;
    background-color: #d0e4e2;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
    margin-right: 3px;

}



ul li a:hover {
    background-color: turquoise;
}

ul li ul li {
    display: none;
}

ul li :hover ul li {
    color: turquoise;
}



.nav-link {
    justify-content: right;
    display: inline-block;
    font-size: 2px;
    padding: 2px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(2, 31, 31);
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 14px;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 360px) {

    .col-sm,
    .col-md,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

@media(min-width: 756px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0px, auto;
        max-width: 50;
    }

    /*-------------------------------------------------------------media*/


    @media only screen and (min-width: 320px) {

        /* For mobile phones: */
        [class*="container boxes card container-fluid"] {
            width: 100%;

            (max-width: 800px) {
                    {
                    margin: 10px 0;
                }

            }
        }

        @media
        /*--------------------------------------------------------------------------------------media*/

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        /*--------------------------------------------------------------------------------------code institute*/


        /*-----------------------------------------------------------------------------*/

        /*--------------------------------------------------------------------------------------*/
        h1,
        h2,
        h3,
        h4 {
            margin: 0;
            color: rgb(2, 49, 49);
        }

        .club-ethos {
            height: 100px;
            position: auto;
        }

        .uppercase {
            text-transform: uppercase;
        }

        /*--------------------------------------------------------------------------------------nav*/


        /*--------------------------------------------------------------------------------------footer*/

        a.hvr-sweep-to-bottom:before {
            background: rgb(88, 83, 83);
            height: 120px;
        }

        .social-links {
            padding-bottom: 15px;
        }

        .social-links li a i {
            width: 32px;
            height: 32px;
            padding: 12px 0;
            border-radius: 50%;
            font-size: 13px;
            line-height: 7px;
            text-align: center;
            color: #774545;
            background: #b4aeae;
            transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            -webkit-transition: all 0.35s ease-in-out;
            -o-transition: all 0.35s ease-in-out;
        }

        .social-links li a i:hover {
            background: #f3eeec;
        }


        footer-details {
            padding: 20px;
        }

        // Extra small devices (portrait phones, less than 576px)
        // No media query since this is the default in Bootstrap

        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) {
            ...
        }

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            ...
        }

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            ...
        }

        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            ...
        }